/* start custom scss snippet */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.img_center{
    display: block;
    margin: 0 auto;
}
.text_center{
    text-align: center;
}
.caption{
    display: block;
    font-size : map-get($base, font-size-sm);
    text-align: center;
    margin-bottom: 2em;
}
.width_25{
    width : 25em;
}
.width_40{
    width : 40em;
}
.MJXc-display{
    font-size: 1.3em !important;
    margin-bottom: -0.5em !important;
}
.mathjax_caption{
    display: block;
    font-size : map-get($base, font-size-sm);
    text-align: center;
    margin-bottom: 2em;
}
.highlighter-rouge{
    color: #ff4900	;
    font-weight: 700;
    font-size : .9em;
}
/* end custom scss snippet */
