/* start custom scss snippet */
.img_center{
    display: block;
    margin: 0 auto;
}
.text_center{
    text-align: center;
}
.caption{
    display: block;
    font-size : map-get($base, font-size-sm);
    text-align: center;
}
.width_25{
    width : 25em;
}
.width_40{
    width : 40em;
}
/* end custom scss snippet */
