<!-- start custom comments snippet -->
<style>
    .fb-comments iframe{
        width: 100% !important;
    }
</style>

<!-- facebook script  -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2&appId=203894147008906&autoLogAppEvents=1"></script>

{%- if page.hellogohn_num -%}
<div class="fb-comments" data-href="http://hellogohn.com/post_one{{ page.hellogohn_num }}" data-numposts="20" data-width="100%"></div>
{%- elsif page.key -%}
<div class="fb-comments" data-href="http://melonicedlatte.com/{{ page.key }}" data-numposts="20" data-width="100%"></div>
{%- endif -%}
<!-- end custom comments snippet -->